<template>
    <div class="container">
        <ion-icon name="today"></ion-icon>
        <h4>{{ author }}</h4>
        <span id="datetime">{{ time() }}</span>
        <h3>{{ title }}</h3>
        <a href="#"><p>{{ text }}</p></a>
        <ul class="emoji">
            <li><a href="#"><ion-icon name="eye"></ion-icon></a></li>
            <li style="padding-left: 20%; padding-top: 6%"><a href="#">leave a comment...</a></li>
            <li style="padding-left: 35%"><a href="#"><ion-icon name="heart-empty"></ion-icon></a></li>
        </ul>
        <div class="clr"></div>
    </div>
</template>

<script>
export default {
    data: function() {
        return{
            author: 'Admin',
            title: 'Contrary to popular belief, Lorem Ipsum is not simply random text',
            text: 'It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old' + '...',
        }
    },
    methods: {
        time: function() {
            return new Date().toISOString().slice(0,10);
        }
    }
}
</script>

<style lang="scss" scoped>

.container{
    width: 100%;
    padding: 10%;
    background-color: #fff;
}

ion-icon{
    position: absolute;
    font-size: 200%;
    color: #152437ce;
}

h4, span{
    padding-left: 25%;
    font-size: 80%;
}
h3{
    font-size: 110%;
    margin-top: 5%;
    font-weight: 330;
}
p{
    font-size: 80%;
    margin-right: 0;
    padding-bottom: 5%;
    line-height: 140%;
    border-bottom: 1px solid #15243763;
}
.emoji li{
    float: left;
    list-style: none;
    font-size: 60%;
    padding-top: 4%;
}
.clr{
    clear:both;
    font-size:0;
}

</style>





