<template>
    <section class="events">
        <div class="row">
            <div class="eventHead">
                <div data-aos="zoom-in" data-aos-once="true"><h1>upcoming event</h1></div>
            </div>
            <v-expansion-panel> 
                <v-expansion-panel-content
                v-for="(date,i) in dates"
                :key="i"
                >
                <template v-slot:header>
                    <div class="date">
                        <div class="date_details">
                            <div class="date_box">
                                <div class="monthDate">{{ date.monthDate }}</div>
                                <div class="day_month">
                                    <div class="weekDay">{{ date.weekDay }}</div>
                                    <div class="month">{{ date.month }}</div>
                                </div>
                            </div>
                            
                            <div class="caption">{{ date.caption }}</div>
                        </div>
                    </div>
                </template>
                <v-card>
                <v-card-text class="color">
                    <div class="event_details">
                        <time datetime="2008-02-14 20:00">time: {{ date.time }}</time><br>
                        <span>place: {{ date.place }}</span>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                        </div>
                    </div>
                </v-card-text>
                </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </div>
    </section> 
</template>

<script>
export default {
    data: function() {
        return{
            dates: [
                {monthDate: '27',
                weekDay: 'thr',
                month: 'Dec',
                caption:'meeting',
                time: 'Dec 19, 2022, 8:00 PM',
                place: 'San Francisco, San Francisco, CA, USA'},
                {monthDate: '19',
                weekDay: 'mon',
                month: 'Dec',
                caption:'meeting',
                time: 'Dec 19, 2022, 8:00 PM',
                place: 'San Francisco, San Francisco, CA, USA'},
                {monthDate: '17',
                weekDay: 'mon',
                month: 'Dec',
                caption:'meeting',
                time: 'Dec 19, 2022, 8:00 PM',
                place: 'San Francisco, San Francisco, CA, USA'}
            ]
        }
    },
    methods: {

    }
    
}
</script>

<style scoped>
.row{
    width: 980px;
    margin: 0 auto 10%;
}
.eventHead{
    text-align: center;
    margin: 4% auto 3%;
    color: #152437;
    font-weight: 100;
}
.eventHead h1{
    padding: 1% 0;
    font-size: 250%;
    font-weight: 300;
}
.date{
    overflow: hidden;
    display: flex;
    width: 100%;
}
.date_details{
    position: relative;
    display: flex;
}
.monthDay{
    display: inline-block;
    font-size: 200%;
}
.date_box{
    position: relative;
    display: flex;
    margin-right: 15%;
    font-size: 200%;
}
.date:hover .date_box{
    margin-left: -50%;
    transition: 0.4s;
}
.date:hover .caption{
    margin-left: -10%;
    transition: 0.6s;
    color: #152437;
    font-size: 230%;
}
.day_month{
    font-size: 35%;
    line-height: 150%;
    padding-top: 8%;
    padding-left: 13%;
}
.color{
    background-color:#152437;
}
.caption{
    display: block;
    margin: auto ;
    font-size: 140%!important;
    font-weight: 320;
}
.event_details{
    display: inline-block;
    font-size: 85%!important;
    font-weight: 350;
    color: #BCBEBD;
}
.description {
    padding-top: 3%;
}
</style>


