<template>
<div>
    <section class="feature">
        <div class="row">
            <div class="col span-1-of-2 feature-pic">
                <div data-aos="fade-up" data-aos-delay="500" data-aos-once="true" data-aos-duration="0.8s">
                    <img src="../../public/img/featurePic.jpg" alt="">
                </div>
            </div>
            <div class="col span-1-of-2 feature-text">
                <div data-aos="zoom-in" data-aos-once="true"><h2>about us</h2></div>
                <div data-aos="fade-left" data-aos-delay="500" data-aos-once="true" data-aos-duration="0.8s">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="btn read-more">
                <a href="#">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div>
       
</template>

<script>
export default {
    
}
</script>

<style scoped>

.row{
    width: 980px;
    margin: 2% auto;
}
.col{
    margin: 0;
}
.col:first-child {
    padding-right: 10%;
    text-align: right;
}
.feature-pic img{
    width: 85%;
    margin: 20% 0;
    border-radius: 3px;
}
.feature-text h2{
    font-size: 250%;
    font-weight: 300;
    margin-top: 12%;
    margin-bottom: 3%;
}
.feature-text p{
    text-align: justify;
    line-height: 30px;
    margin-right: 5%;
}
.read-more a:link,
.read-more a:visited{
    position: absolute;
    margin-top: 2%;
    padding: 10px 20px;
    background-color: #152437;
}
.read-more a:hover,
.read-more a:active{
    color: #152437;
    background: rgba(255, 255, 255, 0.123);
    transition: .6s;
}

</style>
