<template>
        <div class="row">
            <footer>
                <div class="footer">
                    <div class="footer_logo"><img src="../../public/img/blue-logo.jpg"></div>
                    <div class="footer_info">
                    <address><p>Address: The standard chunk of Lorem Ipsum used since the 1500s is reproduced below | Tel: 02100000000 </p></address>
                    <p>Opening Hours: Mon - Fri: 8am-8pm,​​ Saturday: 9am-7pm, ​Sunday: 9am-8pm</p>
                    </div>
                    <p>Copyright © 2019 by school name. all right reserved.<br>
                    ElliRad
                    </p>
                </div>
                <ul class="social_media">
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="paper-plane"></ion-icon></a></li>
                </ul>
                <div class="map">
                    <a href="#">Map</a>
                </div>
            </footer>
        </div>
</template>

<script>
export default {
    // data: function() {
    //     return{
    //         icons:[
    //             {ion: 'icon ion-logo-facebook'},
    //             {ion: 'icon ion-logo-facebook'},
    //             {ion: 'icon ion-logo-facebook'},
    //             {ion: 'icon ion-logo-facebook'},
    //         ]
    //     }
    // }
}
</script>

<style scoped>

.row{
    width: 100%;
    margin: 0 auto;
}
.footer{
    position: relative;
    background-color: #152437;
    color: #BCBEBD;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}
.footer_logo img{
    width: 200px;
    height: auto;
}
address{
    font-style: normal;
}
.footer_info{
    margin-bottom: 2%;
}
.social_media{
    background-color: #152437;
    padding-left: 0;
    margin-top: -144px;
    overflow: auto!important;
    max-height: 100% !important;
}
.social_media li{
    padding: 5px;
    list-style: none;
}
 a{
    color:#BCBEBD;
    font-size: 150%;
}
.map{
    background-color: #152437;
    overflow: auto!important;
    max-height: 100% !important;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    margin-top: -40px;
    transform-origin: 0 0;
    transform: rotate(270deg);
}
</style>


