<template>
    <div class="header">
        <nav class="navbar">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a>
                    <ul>
                        <li v-for="item in items" :key="item.id"><a href="#">{{ item.Msg }}</a></li>
                    </ul>
                </li>
                <li><a href="#">services</a>
                    <ul>
                    <li v-for="service in services" :key="service.id"><a href="#">{{ service.Msg }}</a></li>
                    </ul>
                </li>
                <li><a href="#">portfolio</a>
                    <ul>
                    <li v-for="portofolio in portofolios" :key="portofolio.id"><a href="#">{{ portofolio.Msg }}</a></li>
                    </ul>
                </li>
                <li><a href="#">pages</a>
                    <ul>
                    <li v-for="page in pages" :key="page.id"><a href="#">{{ page.Msg }}</a></li>
                    </ul>
                </li>
                <li><a href="#">contact</a></li>
            </ul>
            <li class="logo">school name</li>
        </nav>
        <div class="main-text">
            <h1>never stop learning</h1>
            <span>new way of training</span>
        </div>
        <div class="btn start-now">
            <a href="#">start now</a>
        </div>
    </div>
  
</template>
<script>
export default {
    data: function() {
        return {
            items: [
                {Msg: 'List 1'},
                {Msg: 'List 2'},
                {Msg: 'List 3'},
                {Msg: 'List 4'},
            ],
            services: [
                {Msg: 'List message 1'},
                {Msg: 'List message 1'},
                {Msg: 'List message 1'},
                {Msg: 'List message 1'},
            ],
            portofolios: [
                {Msg: 'List message 5'},
                {Msg: 'List message 7'},
                {Msg: 'List message 1'},
                {Msg: 'List message 1'},
            ],
            pages: [
                {Msg: 'List message 1'},
                {Msg: 'List message 1'},
                {Msg: 'List message 99'},
                {Msg: 'List message 1'},
                {Msg: 'List message 1'},
                {Msg: 'List message 1'},
            ]
        }
    },
    methods: {

    }
}
</script>

<style>
.header{
    background: url(../../public/img/menuPic.jpg) ;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    position: absolute;
    width: 100%;
    /* background: rgba(255,255,255,.5); */
    padding:0 100px;
    border-bottom: 1px solid rgba(0,0,0,.2)
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color:#BCBEBD;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 450;
    padding: 15px 20px;
}
nav ul li a:hover{
    background: #152437;
    color: #fff;
}
nav ul li ul{
    display: block;
     /* background: rgba(255,255,255,.5); */
    min-width:250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateY(40px);
}
nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
nav ul li ul a{
    padding: 10px;
}
.logo{
    float: left;
    list-style: none;
    color:#BCBEBD;
    font-weight:450;
    text-transform: uppercase;
    padding: 15px;
}
.main-text{
    position: absolute;
    background: rgba(255, 255, 255, 0.123);
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: #BCBEBD;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 0;
}
h1{
    font-size: 300%;
    font-weight: 320;
}
.main-text:hover{
    font-size: 120%;
    transition: .6s;
}
.start-now a:link,
.start-now a:visited{
    position: absolute;
    top: 80%;
    right: 85%;
    padding: 10px 20px;
}
.start-now a:hover,
.start-now a:active{
    background: #152437;
    transition: .6s;
}



</style>

