<template>
    <div>
        <section class="news">
            <div data-aos="zoom-in" data-aos-once="true"><h1>the daily news</h1></div>
            <div class="row">
                <div class="col span-1-of-3 clearfix">
                    <ul class="first-news">
                        <li><div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <img src="../../public/img/firstNews.jpg">
                            </div>
                        </li>
                        <li><card></card></li>
                    </ul>
                    <ul class="second-news">
                        <li><div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                            <img src="../../public/img/secondNews.jpg">
                            </div>    
                        </li>
                        <li><card></card></li>
                    </ul>
                </div>
                <div class="col span-1-of-3 clearfix">
                    <ul class="defult-news">
                        <li><card></card></li>
                    </ul>
                    <ul class="third-news">
                        <li><div data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                            <img src="../../public/img/thirdNews.jpg">
                            </div>
                        </li>
                        <li><card></card></li>
                    </ul>
                    <ul class="forth-news">
                        <li><div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                            <img src="../../public/img/forthNews.jpg">
                            </div>
                        </li>
                        <li><card></card></li>
                    </ul>
                </div>
                <div class="col span-1-of-3 clearfix">
                    <ul class="fifth-news">
                        <li><div data-aos="fade-down" data-aos-duration="1500" >
                                <img src="../../public/img/fifthNews.jpg">
                            </div>     
                        </li>
                        <li><card></card></li> 
                    </ul>
                    <ul class="sixth-news">
                        <li><div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                                <img src="../../public/img/sixthNews.jpg">
                            </div>      
                        </li>
                        <li><card></card></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Card from "./Card.vue";
    // import { request } from 'http';
    // import { url } from 'inspector';
    export default {
        components: {
            Card,
        },

        data: function() {
            return{
                news:[
                    {pic:require('../../public/img/firstNews.jpg')},
                ],
            }
        }
    }
    
</script>

<style lang="scss" scoped>

.news{
    max-width: 100vw;
    overflow: hidden;
}
.row{
    width: 980px;
    margin: 0 auto;
}
.col{
    margin: 0;
}
h1{
    color: #152437;
    margin-bottom: 4%;
    text-align: center;
    font-weight: 300;
    font-size: 250%;    
}
ul{
    display: inline-block;
    list-style: none;
    height: auto;
    border: 8px solid #152437;
    padding-left: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
img{
    width: 100%;   
    height: auto;
    display: block;
}

</style>





