<template>
    <div>
        <section class="team">
            <div class="row">
                <div class="theme">
                    <div data-aos="zoom-in" data-aos-once="true"><h1>team work</h1></div>
                    <p>learn easy, as sweet as chocolate</p>
                </div>
                <div class="height">
                    <hooper :settings="hooperSettings">
                        <slide v-for="(slide, indx) in slides" :key="indx" :index="indx">
                            <img :src="slide.img">
                            <div class="mid-text">
                                <h4>{{ slide.head }}</h4>
                                <p>{{ slide.pragraph }}</p>
                                <div class="btn Know-more">
                                    <a href="#">{{ slide.button }}</a>
                                </div>
                            </div>    
                        </slide>
                    <hooper-navigation slot="hooper-addons"></hooper-navigation>
                </hooper>
                </div>
             </div>
        </section>
        
    </div>
        
</template>

<script scoped>
    import {
    Hooper,
    Slide,
    Navigation as HooperNavigation 
    } from 'hooper';
    import 'hooper/dist/hooper.css';

export default {
    components: {
        Hooper,
        Slide,
        HooperNavigation
    },

    data: function() {
        return {
            slides:[
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor one',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'},
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor two',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'},
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor three',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'},
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor four',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'},
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor five',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'},
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor six',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'},
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor six',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'},
                {img:require('../../public/img/teamGallery.jpg'),
                head:'instructor six',
                pragraph:'Lorem Ipsum is simply dummy text',
                button: 'Know more'}
            ],
            hooperSettings: {
            itemsToShow: 4,
            transition: 400,
            // centerMode: true,
            wheelControl:false,
            breakpoints: {
            800: {
              centerMode: false,
              itemsToShow: 3
            },
            1000: {
              itemsToShow: 4,
              pagination: 'fraction'
            }
            },
            },
        }
    }
}
</script>

<style scoped>

.row{
    width: 100%;
    margin: 0;
    text-align: center;
}
.height{
    position: relative;
    height: 400px;
}
.theme{
    width: 85%;
    height: 400px;
    background-color: #152437;
    color: rgb(247, 247, 247);
    display: inline-block;
    position: relative;
    text-align: center;
}
.theme h1{
    font-weight: 250;
    font-size: 250%;
    margin-top: 2%;
}
.theme p{
    font-size: 110%;
    margin-top: 1%;
}
.Know-more a:link,
.Know-more a:visited{
    background: #152437;
    font-size: 80%;
    padding: 10px 20px;
}
.Know-more a:hover,
.Know-more a:active{
    background-color: rgba(255, 255, 255, 0.062);
    transition: .6s;
}
.hooper{
    position: absolute;
    margin-top: -15%;
    height: 100%;
}
.hooper-slide img{
    padding: 0 4%;
    width: 97%;
    filter: brightness(65%);
    border-radius: 3px; 
}
.hooper-slide .mid-text{
    position: relative;
    top: -250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(243, 240, 240, 0.959);
    text-align: center;
    margin-top: 30px;
}
.mid-text h4{
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 380;
}
.mid-text p{
    font-size: 130%;
    font-weight: 400;
    text-align: center;
    padding: 10% 0;
    margin-right: 0;
}
</style>


