<template>
<div>
    <app-header></app-header>
    <app-feature></app-feature>
    <app-team></app-team>
    <app-news></app-news>
    <app-events></app-events>
    <app-footer></app-footer>
</div>

</template>

<script>

</script>

<style lang="scss">
@import 'assets/vendor/grid.css';

/*------- basic setup -------- */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background: #fff;
    font-family: 'lato', 'arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    overflow-x: hidden;
}
.btn a:link,
.btn a:visited{
    background: rgba(255, 255, 255, 0.123);
    text-decoration: none;
    color: #BCBEBD;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    border: 1px solid rgba(235, 228, 228, 0.61);
    border-radius: 200px;
}
a{
    text-decoration: none;
}

</style>
